.checkout-section {
  padding: 2rem 2rem 6rem 2rem;
}
.empty-cart {
  text-align: center;
}

/*------------BUTTONS-----------*/
.back-btn-checkout {
  text-align: center;
  background-color: #e2dad4;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.back-section-checkout {
  text-align: center;
  margin-bottom: 4rem;
}

/*-----------SUMMARY SECTION ----------*/
.summary-product-container {
  display: grid;
  padding: 0.7rem;
  margin: 1.2rem 0;
  grid-template-columns: 120px auto 2rem;
  grid-template-rows: auto;
  background-color: #fff9f4;
  row-gap: 5px;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
  grid-template-areas:
    "productimg productinfo productinfo"
    "productimg size-selector ."
    "productimg qty-selector ."
    "productimg . price";
}
.summary-product-img-container {
  grid-area: productimg;
  width: 83px;
  height: 83px;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;

}
.summary-product-img {
  inline-size: 73%;
  height: 83px;
  width: auto;
}
.summary-product-text {
  grid-area: productinfo;
}
.summary-product-text * {
  display: inline-block;
}
.summary-product-text p {
  font-size: 1.1rem;
  padding-right: 0.4rem;
}
.summary-product-text a {
  font-size: 0.9rem;
  font-weight: 800;
  padding: 0.2rem 0;
}
.size-selector {
  grid-area: size-selector;
}
.qty-selector {
  grid-area: qty-selector;
}
.selector-btns {
  border: none;
  background-color: #fff9f4;
}
.summary-product-price {
  grid-area: price;
  font-size: 1rem;
  font-weight: 500;
  justify-self: right;
}
/*------------DELIVERY-SECTION ---------*/

.delivery-section {
  margin: 2rem 0;
}
.ship-input {
  width: 100%;
  padding: 0;
}
.delivery-selector-btn {
  border: solid 2px #72482b;
  background-color: #fff9f4;
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 600;
}

/*-----------TOTAL-PRICE-SECTION ---------*/

.total-price-section {
  margin: 2rem 0 0 0;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.shipping,
.vat,
.total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 10px;
}
.total-price {
  background-color: #ebe7de;
  border-top: solid 2px #72482b;
  border-bottom: solid 2px #72482b;
  height: 3rem;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}
/*-----------SHIPPING-INFO-SECTION ----------*/
.login {
  margin-top: 3rem;
}
.shipping-info-section {
  margin: 4rem 0 0rem 0;
}
.form-delivery {
  margin: 1.2rem 0 0 0;
}
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
.checkbox-label {
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
}
.checkbox-container {
  margin: 10px 0;
}

/*------------NEXT-BTN----------*/

.next-btn {
  text-align: center;
  background-color: #72482b;
  border: solid 2px #e2dad4;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
}

/*------------------Media Queries--------------------*/
@media (min-width: 730px) {
  .checkout-section {
    padding: 5rem 2rem 6rem 2rem;
  }
}

@media (min-width: 1000px) {
  .checkout-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "backbtn login"
      "summary shipping"
      "delivery shipping"
      "sum shipping";
    column-gap: 5rem;
    max-width: 100%;
    padding: 7rem 5rem 5rem 5rem;
  }
  .back-section {
    grid-area: backbtn;
  }
  .summary-section {
    grid-area: summary;
  }
  .delivery-section {
    grid-area: delivery;
    margin: 1rem 0;
  }
  .total-price-section {
    grid-area: sum;
    margin: 0;
  }
  .shipping-info-section {
    grid-area: shipping;
    margin: 0;
  }
  .login {
    grid-area: login;
    align-self: end;
    margin-bottom: 1rem;
    margin-top: 0rem;
  }
  .form-delivery {
    margin: 0;
  }
}
