
/*---------FOOTER------*/
footer {
	background: 100% no-repeat url(../images/illustrations/footer-background.jpg);
	display: grid;
	grid-template-areas:
		"area1"
		"area2"
		"area4";
	column-gap: 10px;
	row-gap: 25px;
	padding: 35px 25px;
}
h4 {
	font-style: normal;
	font-size: 0.8rem;
	margin: 0;
	font-weight: 600;
	white-space: nowrap;
}
ul {
	padding: 0px;
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
	width: 100%;
	list-style-type: none;
}
footer li {
	font-style: normal;
	font-size: 0.8rem;
	margin: 0;
	font-weight: 200;
	white-space: nowrap;
}
.area1 {
	grid-area: area1;
}
.area2 {
	grid-area: area2;
}
.area3 {
	grid-area: area3;
}
.area4 {
	grid-area: area4;
	justify-self: center;
}
.area4 a {
	display: inline-block;
	padding: 4px;
	max-height: 30px;
	margin-top: 10px;
}
.area4 img {
	max-height: auto;
}
/*------------------Media Queries--------------------*/
@media (min-width: 500px) {
	footer {
		grid-template-areas:
			"area1 area2"
			"area4 area4";
		row-gap: 0px;
	}
}
@media (min-width: 700px) {
	footer {
		grid-template-areas:
			"area1 area2 area3"
			"area1 area2 area4";
		min-height: 150px;
	}
	.area3 {
		display: block;
		justify-self: end;
	}
	.area3 img {
		max-width: 250px;
	}
	.area4 {
		justify-self: end;
	}
	.area4 a {
		margin-top: 0px;
	}
	.stickyfooter {
		display: flex;
		position: fixed;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.566);
		font-style: normal;
		font-weight: 300;
		font-size: 0.7rem;
		letter-spacing: 0.09rem;
		width: 100%;
		max-height: 40px;
		padding: 10px 0;
		justify-content: space-between;
	}
	.copyright_wrapper {
		padding-left: 1rem;
	}
	.stickyfooter-link_wrapper {
		padding-right: 1rem;
	}
	.stickyfooter a {
		margin-left: 10px;
	}
	/*----------:hover-state-------*/
}
