/*-HEADER HEADER HEADER HEADER HEADER HEADER HEADER-*/

/*-----------------------GLOBAL--------------------*/
* {
	outline: solid 1px red;
}
body {
	margin: 0;
	background-color: #fffcfa;
}
a {
	text-decoration: none;
}
nav,
.hamburger-menu_icon {
	color: #72482b;
}
nav,
#menu-checkbox {
	display: none;
}
#menu-checkbox:checked ~ nav {
	display: block;
}
header {
	position: relative;
	padding: 20px;
	background: rgba(217, 211, 211, 0.3);
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-gap: 10px;
	max-width: 100%;
	/*min-height: 30px;*/
}
.header-fixed-background {
	display: none;
}

/*-----------------------TOP----------------------*/
.logo-header_wrapper,
.shoppingbag-icon_wrapper {
	display: inline-block;
}
.hamburger-menu_wrapper {
	margin: auto auto auto 0;
}
.hamburger-menu_icon {
	font-size: 1.56rem;
}
.logo-header_wrapper {
	margin: auto auto;
}
.logo_header {
	filter: drop-shadow(2px 3px 3px rgba(000, 000, 000, 0.3));
	max-height: 1.5rem;
}
.shoppingbag-icon_wrapper {
	margin: auto 0 auto auto;
}
.shoppingbag_icon {
	height: 1.5rem;
}
/*------------------DROP DOWN MENU------------------*/
nav {
	position: absolute;
	left: 0;
	background: rgba(217, 211, 211);
	margin-top: 21px;
}
nav a {
	display: block;
	color: #72482b;
	padding: 10px 20px;
	font-family: "Montserrat", sans-serif;
}
.dropdown-menu {
	width: 250px;
	margin-top: 0rem;
}
.dropdown-menu_items a:last-of-type {
	padding-bottom: 20px;
}
.flexbox_wrappers {
	position: relative;
	display: flex;
	min-width: 250px;
}
.searchbar {
	width: 13.7rem;
	height: 2rem;
	box-shadow: inset 6px 6px 10px 0 rgba(114, 72, 43, 0.25),
		inset -6px -6px 10px 0 rgba(114, 72, 43, 0.25);
	border: 0.07rem solid #72482b;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	font-family: "Montserrat", sans-serif;
}
input[type="search" i] {
	appearance: auto;
	box-sizing: border-box;
	padding: 2px 5px;
}
::-webkit-input-placeholder {
	color: rgba (114, 72, 43, 0.7);
	font-size: 1rem;
	color: rgba(75, 47, 27, 0.7);
}
::-moz-placeholder {
	color: rgba (114, 72, 43, 0.7);
	font-size: 1rem;
	color: rgba(75, 47, 27, 0.7);
}
::-ms-placeholder {
	color: rgba (114, 72, 43, 0.7);
	font-size: 1rem;
	color: rgba(75, 47, 27, 0.7);
}
::placeholder {
	color: rgba (114, 72, 43, 0.7);
	font-size: 1rem;
	color: rgba(75, 47, 27, 0.7);
}
.searchbar_icon {
	height: 0.8rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin: 0;
	position: absolute;
	top: 10px;
	right: 27px;
}
.store-locator_link {
	width: 220px;
}
.store-locator_icon {
	height: 1rem;
	position: absolute;
	top: 10px;
	right: 28px;
}
.dropdown-menu_items {
	background-color: rgba(151, 109, 80, 0.2);
	font-size: 1rem;
	font-weight: 600;
}

/*--------------- M Q ------------*/

@media (min-width: 600px) {
	.hamburger-menu_icon {
		display: none;
	}
	header {
		background: rgba(217, 211, 211, 0.3);
		display: block;
		min-height: 30px;
		padding: 0;
		width: 100%;
	}
	nav {
		display: inline-block;
		position: static;
		margin-top: 0;
		width: 100%;
	}
	.header-fixed-background {
		position: fixed;
		top: 0;
		max-width: 100%;
		background: rgba(217, 211, 211, 0.3);
		height: 3.75rem;
	}
	.flexbox_wrappers {
		display: inline-block;
		position: fixed;
		top: 1rem;
		left: 12rem;
		min-width: 0;
	}
	.searchbar {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		height: 1.77rem;
	}
	.searchbar_icon {
		height: 0.8rem;
		padding-top: 0.48rem;
		padding-bottom: 0.48rem;
		margin: 0;
		position: absolute;
		top: 0px;
		right: 6px;
	}
	.store-locator_link {
		position: fixed;
		width: 125px;
		padding: 0px 0px;
		top: 1.3rem;
		left: 27rem;
		margin: auto auto;
	}
	.store-locator_icon {
		height: 1rem;
		top: 1.96px;
		right: 0rem;
	}
	.logo-header_wrapper {
		position: fixed;
		top: 1rem;
		left: 1rem;
	}
	.shoppingbag-icon_wrapper {
		position: fixed;
		top: 1rem;
		right: 1rem;
	}
	.dropdown-menu {
		width: 100%;
	}
	.dropdown-menu_items {
		margin-top: 60px;
	}
	.dropdown-menu_items a {
		display: inline-block;
	}
	.dropdown-menu_items a:last-of-type {
		padding-bottom: 10px;
	}
}

/*-FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER-*/
/*---------------------GLOBAL----------------------*/
/*------------------STICKYFOOTER-------------------*/
.stickyfooter {
	display: none;
}

/*---------FOOTER------*/
footer {
	font-family: "Montserrat", sans-serif;
	background: 100% no-repeat url(../images/illustrations/footer-background.jpg);
	max-width: 100%;
	min-height: 150px;
	padding: 3rem 2rem;
	color: #72482b;
}
h4 {
	font-style: normal;
	font-size: 0.7rem;
	margin: 0;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
}
footer a {
	color: #72482b;
}
ul {
	padding: 0px;
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
	width: 100%;
	list-style-type: none;
}
footer li {
	font-style: normal;
	font-size: 0.7rem;
	margin: 0;
	font-weight: 200;
	white-space: nowrap;
}
.grid {
	display: block;
}
.footer-menu_wrapper {
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
}
.footer-wrap1 {
	margin-right: 20px;
}
.logo-footer_wrapper {
	display: none;
}
.some-footer_wrapper {
	display: inline-blocK;
	margin: 0 0 0px 10px;
	vertical-align: bottom;
}
.footer-wrap2 {
	float: right;
	display: inline-blocK;
}

/*--------------------- M Q -----------------------*/
@media (min-width: 600px) {
	.stickyfooter {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.566);
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 0.7rem;
		letter-spacing: 0.09rem;
		text-transform: uppercase;
		max-width: 100%;
		max-height: 40px;
		padding: 10px 1rem;
		white-space: nowrap;
	}
	.copyright_wrapper {
		flex: 7.37;
	}
	.stickyfooter-link_wrapper {
		flex: 4;
	}
	.stickyfooter a {
		color: #000;
		margin-left: 10px;
	}
	.grid {
		display: grid;
		grid-template-columns: 15rem 1fr auto;
		grid-gap: 30px;
		max-height: 200px;
		max-width: 100%;
	}
	.logo-footer_wrapper {
		text-align: right;
		max-width: 350px;
		display: block;
	}
	.logo_footer {
		max-width: 100%;
	}
	footer {
		font-family: "Montserrat", sans-serif;
		background: 100% no-repeat
			url(../images/illustrations/footer-background.jpg);
		max-width: 100%;
		min-height: 150px;
		padding: 3rem 1rem;
		color: #72482b;
	}
}
/*----FERDIG - MEN MÅ RENSES OG LAGER MQ---*/
/*------MÅ JUSTERES-----*/
/*.some-footer_wrapper {
	display: inline-block;
	margin-left: 7px;
}
.some-footer_wrapper a {
	display: inline-block;
}
.some-footer_wrapper img {
	display: inline-block;
}*/
/*-------INDEX-------*/
h1,
h2,
h4,
footer li,
.menu,
.ambience-carousel {
	font-family: "Montserrat", sans-serif;
}
p,
.cta-button,
.bannertext,
.products a,
.ad a,
.stickyfooter {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	font-style: normal;
	font-weight: bolder;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	color: #73401e;
	text-shadow: (3px 2px 4px rgba(192, 103, 43, 0.14));
	margin: 0;
}
.header-background {
	background: 100% no-repeat url(../images/hero-image.jpg);
	width: 100%;
	height: 850px;
	display: inline-block;
}
.cta-button-container {
	width: 100%;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.cta-button {
	background-color: #9c916c;
	border: 2px solid #fff;
	display: inline-block;
	font-style: normal;
	font-weight: 800;
	font-size: 1.2rem;
	letter-spacing: 0.04rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 15rem;
	margin: 2rem;
	filter: drop-shadow(4px 4px 4px rgba(000, 000, 000, 0.3));
}
.cta-button a {
	color: #fff;
}
.bannertext {
	color: #fff;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 23rem;
	white-space: nowrap;
	font-size: 2vw;
}
.product-slider {
	background-color: rgba(193, 148, 108, 0.26);
	padding-top: 2rem;
	margin-top: 1rem;
	padding-bottom: 3rem;
	margin-bottom: 1rem;
}
.products {
	margin-top: 1rem;
}
#shopping-bag-small {
	text-align: right;
	margin-right: 1rem;
	padding-top: 1rem;
}
.product {
	white-space: nowrap;
	background-color: #fff9f4;
	width: 400px;
	height: 570px;
	margin-left: 1rem;
	margin-right: 1rem;
}
.product-label {
	margin: 0;
	text-transform: uppercase;
}
.products .jacket {
	height: 28rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.products a,
.ad a {
	font-weight: bold;
	color: #000;
}
.product-text {
	margin-left: 1rem;
}
.ambience-carousel {
	background: 100% no-repeat url(../images/ambience-1.jpg);
	width: 100%;
	height: 50rem;
}
.slogan-first-part {
	font-style: italic;
	font-weight: bolder;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	color: #fff9f4;
	margin: 0;
}
.slogan-second-part {
	font-style: italic;
	font-weight: bolder;
	font-size: 2rem;
	letter-spacing: 0.1rem;
	color: #fff9f4;
	text-shadow: (3px 2px 0px #72482b);
	margin: 0;
	text-transform: uppercase;
}
.some {
	display: inline-flex;
}
.some img {
	width: 2rem;
	height: 2rem;
	background-color: rgba(114, 72, 43, 0.9);
	padding: 1rem;
	border-radius: 50%;
	overflow: visible;
}
