.list-section {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "sorting"
    "product-list"
    "load-button";
  grid-template-rows: auto;
  row-gap: 25px;
  padding: 35px 25px;
}
.h1_list {
  grid-area: header;
}
.menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  grid-area: menu;
  display: none;
}
.product-list {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  grid-area: product-list;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.load-button {
  text-align: center;
  grid-area: load-button;
  margin-top: 1rem;
}
.sorting-options {
  border: solid 2px #72482b;
  background-color: #fff9f4;
  width: 100%;
  height: 1.7rem;
  padding: 0 3px;
}
.sorting-selections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  grid-area: sorting;
}
@media (min-width: 400px) {
  .product-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 700px) {
  .list-section {
    margin-top: 42px;
    grid-template-areas:
      "menu header"
      "menu product-list"
      "sorting product-list"
      ". product-list"
      ". load-button";
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 35px 0px;
    column-gap: 25px;
    grid-template-columns: 173px 1fr;
  }
  .sorting-options {
    margin: 0.4rem 0;
  }
  .sorting-section {
    margin: 0.5rem;
  }
  .sorting-selections {
    display: block;
  }
  .menu {
    display: block;
    background-color: #e2dad4;
    padding: 2rem;
  }
  .menu_group1 a,
  .menu_group2 a,
  .menu_group3 a {
    display: block;
    color: #000;
  }
  .menu_group1,
  .menu_group2,
  .menu_group3 {
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .menu_group1 a:hover,
  .menu_group2 a:hover,
  .menu_group3 a:hover {
    color: #73401e;
  }
  .selected {
    font-weight: 400;
  }
}
@media (min-width: 920px) {
  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1250px) {
  .product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
