.list-section {
	display: grid;
	grid-template-areas:
		"h2 h2"
		"product-list product-list"
		"load-button load-button";
	grid-template-rows: auto;
	row-gap: 25px;
	padding: 35px 25px;
}
.h2 {
	grid-area: h2;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	color: #73401e;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}
.menu {
	grid-area: menu;
	display: none;
}
.product-list {
	grid-area: product-list;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}
.load-button {
	text-align: center;
	text-decoration: underline;
	text-decoration-thickness: 0.5px;
	text-underline-offset: 2px;
	grid-area: load-button;
	font-family: "Montserrat", sans-serif;
	color: #000;
	margin-top: 1rem;
}
@media (min-width: 700px) {
	.list-section {
		margin-top: 42px;
		grid-template-areas:
			"menu h2"
			"menu product-list"
			". product-list"
			". product-list"
			". load-button";
		margin-left: 5rem;
		margin-right: 5rem;
		padding: 35px 0px;
		column-gap: 25px;
	}
	.product-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.menu {
		display: block;
		background-color: #e2dad4;
		padding: 3rem;
	}
	.categories {
		display: block;
	}
	.group1,
	.group2,
	.group3 {
		font-weight: 200;
		font-size: 1rem;
		letter-spacing: 0.04rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.categories {
		color: #000;
	}
	.uppercase {
		text-transform: uppercase;
	}
	.categories:hover {
		color: #73401e;
	}
	.selected {
		font-weight: 400;
		color: #72482b;
	}
}
