body {
	overscroll-behavior: none;
}
p {
	margin: 0;
}
.header-background {
	background: 100% no-repeat url(../images/hero-image.jpg);
	max-width: 100%;
	height: 450px;
	display: block;
}
.product-containers a,
.ad-section a {
	font-weight: bold;
	color: #000;
}
.cta-button-container {
	max-width: 100%;
	text-align: center;
	padding: 5rem 0;
}
.cta-button {
	background-color: #9c916c;
	border: 2px solid #fff;
	display: inline-block;
	font-style: normal;
	font-weight: 800;
	font-size: 1.2rem;
	letter-spacing: 0.04rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 15rem;
	margin: 2rem;
	/* filter: drop-shadow(4px 4px 4px rgba(000, 000, 000, 0.3)); */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.cta-button a {
	color: #fff;
}
h1 {
	font-style: normal;
	font-weight: bolder;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	color: #73401e;
	text-shadow: 4px 2px 0px #e8d0bd;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	padding-bottom: 0.5rem;
}
h4 {
	font-style: normal;
	font-size: 0.7rem;
	margin: 0;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
}
.block p {
	display: block;
}
.block a {
	display: block;
}
.product-text {
	font-family: helvetica, arial, sans-serif;
	font-size: 0.75rem;
	align-self: end;
}
.product-text p {
	text-transform: uppercase;
}
.inline p {
	display: inline;
}
.product-text a {
	font-weight: 800;
	color: #000;
	padding: 0.2rem 0;
}
.productprice {
	padding: 0.1rem 0 0.7rem;
}
.productname {
	padding: 0.7rem 0 0.1rem;
}
.slider-section {
	background-color: #efe1d5;
	padding: 2rem 0 3rem 1rem;
	margin: 2rem 0;
}
.slider-section h1 {
	margin-bottom: 1rem;
}
.product-slider {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 53%;
	gap: 1.5rem;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
}
.product-containers {
	padding: 0.7rem;
	background-color: #fff9f4;
	display: grid;
	grid-template-rows: min-content;
	grid-template-rows: auto auto auto;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
	gap: 0;
}
.shopping-bag {
	justify-self: end;
	display: inline-block;
	padding: 0.3rem;
	max-height: 20px;
}
.shopping-bag img {
	max-height: 20px;
}
.jacket {
	inline-size: 80%;
	align-self: center;
	justify-self: center;
}
.snaps-inline {
	scroll-snap-type: inline mandatory;
	scroll-padding-inline: 1rem;
}
.snaps-inline > * {
	scroll-snap-align: start;
}
.ad-section h1 {
	padding-left: 1rem;
}
.productphoto-ad {
	max-width: 100%;
}
.ad1 {
	display: none;
}
.product-label {
	padding-left: 1rem;
}
.inline {
	padding-bottom: 0.7rem;
}
.ad-section {
	margin-bottom: 3rem;
	margin-top: 1rem;
}
.container {
	position: relative;
	text-align: center;
	color: white;
}
.bottom-left {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 0.75rem;
	display: inline;
}
.bottom-right {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 0.75rem;
	display: inline;
}
@media (min-width: 500px) {
	.product-slider {
		grid-auto-columns: 34%;
	}
}
@media (min-width: 700px) {
	.product-slider {
		grid-auto-columns: 21%;
		gap: 2rem;
	}
	.slider-section {
		background-color: #efe1d5;
		padding: 3rem 0 3rem 5rem;
		margin: 3rem 0;
		overflow-y: scroll;
	}
	.shopping-bag {
		padding: 0.5rem;
		max-height: 25px;
	}
	.shopping-bag img {
		max-height: 25px;
	}
	.product-text {
		margin-left: 0.5rem;
		font-size: 0.85rem;
	}
	.cta-button-container {
		padding: 10rem 0;
	}
	.header-background {
		height: 700px;
	}
	.bottom-right,
	.bottom-left {
		display: none;
	}
	.ad1 {
		display: inline-block;
	}
	.ad-section {
		padding: 0 5rem;
	}
	.ad-section h1 {
		padding-left: 0rem;
	}
	/* .productprice {
		padding-left: 0;
	}
	.productname {
		padding-left: 0;
	} */
	.product-text {
		margin-left: 0rem;
	}
	.product-label {
		padding-left: 0rem;
	}
	.ad2 {
		display: inline-block;
	}
	.container {
		display: flex;
		gap: 2rem;
		/* overflow-y:hidden; */
		justify-content: space-between;
		max-width: 100%;
		/* white-space: nowrap; */
	}
	.ad1,
	.ad2 {
		/* max-height: 40rem; */
		/* width: 30%; */
		/* white-space: nowrap; */
		object-fit: contain;
		object-position: bottom;
	}

	/* }
	.ad1, .ad2 {
		flex-grow: 1;
		object-fit: contain;
		flex-shrink: 1;
		flex-basis:  auto;
		height: auto;

  max-width: 100%;
	} */
}
