.payment-section {
  padding: 5rem 1rem 7rem;
}
input[type="radio" i] {
  margin: 0;
}
label {
  margin-right: 1rem;
}
.payment-selection {
  margin: 1rem 0 2rem 0;
}
.light {
  font-weight: 200;
}
input[type="date" i] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(75, 47, 27, 0.7);
}
@media (min-width: 800px) {
  .payment-section {
    padding: 7rem 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}
