.desktop {
  display: none;
}
.color-1 {
  background-color: #73694b;
}
.color-2 {
  background-color: #707070;
}
.productprice-productpage {
  font-size: 1.2rem;
  margin: 0.6rem 0 1.7rem;
}
.color-3 {
  background-color: #edeef0;
}
.colorbox {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}
.color_container p {
  display: inline-block;
}
.color_container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1rem;
}
.sizebox {
  padding: 0.3rem;
  text-align: center;
  justify-items: center;
  border: 0.063em solid #000;
  width: 2rem;
  padding: 0.4rem 0;
  display: inline-block;
  font-weight: 200;
  margin: 1rem 1rem 0 0;
}
.product-section__flex {
  display: flex;
  padding: 1rem 1rem 4rem 1rem;
  justify-content: center;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.size-color_selector-btn {
  border: solid 2px #e2dad4;
  background-color: #fff9f4;
  height: 3rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}
/*-------BUTTONS------*/
.back-btn-product {
  text-align: center;
  background-color: #e2dad4;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.back-section-product {
  text-align: center;
  margin-bottom: 4rem;
}
.margin {
  margin: 0 0.5rem;
}
.product-img-section {
  grid-template-areas:
    "big big big big"
    "thumbnail1 thumbnail2 thumbnail3 thumbnail4";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 85%;
  justify-items: center;
  padding: 1.5rem;
  gap: 1rem;
  align-self: center;
  margin-bottom: 2rem;
}
.thumbnail1 {
  grid-area: thumbnail1;
}
.thumbnail2 {
  grid-area: thumbnail2;
}
.thumbnail3 {
  grid-area: thumbnail3;
}
.thumbnail4 {
  grid-area: thumbnail4;
}
.big {
  grid-area: big;
}
.big > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.thumbnailsize > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.no-focus {
  filter: blur(0.7px) opacity(0.5);
}
.thumbnailsize {
  align-self: center;
  justify-self: center;
}
@media (min-width: 780px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .product-section__flex {
    padding: 5rem;
  }
  .product-img-section {
    row-gap: 25px;
    justify-self: start;
  }
  .thumbnailsize {
    inline-size: 50%;
    align-self: center;
    justify-self: center;
  }
  .product-section__flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 7rem 5rem;
  }
  .size-color-selector-container {
    display: flex;
    flex-direction: column;
  }
  .product-detail-section {
    width: 100%;
    margin-left: 2rem;
  }
}
